<a href="https://colab.research.google.com/github/Maxwell-Muthui-Mwangi/Ballershopke-Python_Data-Science/blob/main/Data_Science_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This program adds two numbers
num1 = 1.5
num2 = 6.3
# Add two numbers
sum = num1 + num2
# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 1.5 and 6.3 is 7.8

In [2]:
# This program adds two numbers entered by the user
a=int(input("enter first number : "))
b=int(input("enter second number : "))
# Add two numbers
sum = a + b
# Display the sum
print('The sum of {0} and {1} is {2}'.format(a, b, sum))

enter first number : 203
enter second number : 345
The sum of 203 and 345 is 548

In [3]:
# Python Program to calculate the square root
ict = 27
ans = ict ** 0.5
print('The square root of %0.2f is %0.2f'%(ict ,ans))

The square root of 27.00 is 5.20

In [4]:
# Python Program to calculate the square root
# import the math module
import math
ict = 27
ans =math.sqrt(ict)
print('The square root of %0.2f is %0.2f'%(ict ,ans))

The square root of 27.00 is 5.20

In [5]:
# Python Program to calculate the square root
# import the math module
import math
ict = float(input('Enter a number: '))
ans =math.sqrt(ict)
print('The square root of %0.2f is %0.2f'%(ict ,ans))

Enter a number: 30000
The square root of 30000.00 is 173.21

In [6]:
# Python Program to find the area of triangle
# Take inputs from the user
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))
# calculate the semi-perimeter
s = (a + b + c) / 2
# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.3f' %area)

Enter first side: 23
Enter second side: 34
Enter third side: 56
The area of the triangle is 145.923

In [7]:
# Python Program to calculate your age
# Take inputs from the user
current = float(input('Enter the current year: '))
yob = float(input('Enter Year of birth: '))
# calculate the age
age=current-yob
print('Your current age is {0}'.format(age))

Enter the current year: 2024
Enter Year of birth: 2003
Your current age is 21.0

In [8]:
"""
Write a Python program to convert temperatures to and from celsius, fahrenheit.
Formula :
°F = (°C × 9/5) + 32
°C = (°F − 32) x 5/9
[ where c = temperature in celsius and f = temperature in fahrenheit ]:
"""
Fahrenheit = float(input("Enter a temperature in Fahrenheit: "))
Celsius = (Fahrenheit - 32) * 5.0/9.0
print ("Temperature:", Fahrenheit, "Fahrenheit = %0.2f" %Celsius, " C")
Celsius = float(input("Enter a temperature in Celsius: "))
Fahrenheit = 9.0/5.0 * Celsius + 32
print("Temperature:", Celsius, "Celsius = %0.2f" %Fahrenheit, " F")

Enter a temperature in Fahrenheit: 344
Temperature: 344.0 Fahrenheit = 173.33  C
Enter a temperature in Celsius: 173.33
Temperature: 173.33 Celsius = 343.99  F

In [9]:
#A program to calculate cuberoot of a number (using math.ceil ()function):
import math
number = int(input("Enter the number: "))
cuberoot = math.ceil(number ** (1/3))
print("The cube root is:",cuberoot)

Enter the number: 456
The cube root is: 8

In [10]:
 #A program to calculate cuberoot of a number (using **):
number = int(input("Enter the number: "))
cuberoot = number**(1/3)
print("The cube root is: %0.2f" %cuberoot)

Enter the number: 456
The cube root is: 7.70

In [11]:
#A program to calculate cube root of a number (using Round Function):
import math
number = int(input("Enter the number: "))
cuberoot = round(number ** (1/3), 2)
print("The cube root is:", cuberoot)

Enter the number: 456
The cube root is: 7.7

In [12]:
"""
A program is required to calculate wages for employees of ABC Ltd. Using the following
formulae.
i. Basic salary = No of Hours * hourly rate
ii. Lunch Allowance = 200
iii. Gross Salary = Basic Pay + Lunch Allowance
iv. Income Tax charged on gross pay is 30% of the gross
v. Net pay = Gross pay – Tax
Hourly rate and lunch allowance are constant values. The number of hours worked should be
read from the keyboard. Write a program to process salary for an employee.
"""
# Constants
hourly_rate = 1500
lunch_allowance = 600
tax_rate = 0.30
# Input number of hours worked from the user
hours_worked = float(input("Enter the number of hours worked: "))
# Calculate Basic Pay
basic_salary = hours_worked * hourly_rate
# Calculate Gross Salary
gross_salary = basic_salary + lunch_allowance
# Calculate Tax
tax = gross_salary * tax_rate
# Calculate Net Pay
net_pay = gross_salary - tax
# Display the calculated values
print("Basic Salary: KSH", format(basic_salary, ".2f"))
print("Gross Salary: KSH", format(gross_salary, ".2f"))
print("Tax: KSH", format(tax, ".2f"))
print("Net Pay: KSH", format(net_pay, ".2f"))

Enter the number of hours worked: 45
Basic Salary: KSH 67500.00
Gross Salary: KSH 68100.00
Tax: KSH 20430.00
Net Pay: KSH 47670.00

Control Structure(Control the flow of your code👌😁)

In [14]:
#A Program to read theory and practical Marks and Comment Appropriately:
score_theory = 50
score_practical = 55
if(score_theory + score_practical >= 100):
   print("Invalid score. Please check the input.")

Invalid score. Please check the input.

In [16]:
# This program to test maximum value between two values entered
a=int(input("enter first number : "))
b=int(input("enter second number : "))
# Add two numbers
if (a>b):
  print('Maximum=',a)
else:
  print('Maximum=',b)

enter first number : 200000
enter second number : 200030
Maximum= 200030

In [17]:
# A Program to grade a student appropriately:
print("Enter Marks Obtained in 5 Subjects: ")
markOne = int(input())
markTwo = int(input())
markThree = int(input())
markFour = int(input())
markFive = int(input())
tot = markOne+markTwo+markThree+markFour+markFive
avg = tot/5
print("Average=%.2f"%avg)
if avg>=70 and avg<=100:
   print("Your Grade is A")
elif avg>=60 and avg<=69:
   print("Your Grade is B")
elif avg>=50 and avg<=59:
   print("Your Grade is C")

Enter Marks Obtained in 5 Subjects:
23
34
78
90
78
Average=60.60
Your Grade is B

In [18]:
# A In this program, we input a number check if the number is positive or
#negative or zero and display an appropriate message.
num = float(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("Zero")
  else:
    print("Positive number")
else:
    print("Negative number")

Enter a number: -345
Negative number

In [19]:
#Program to find the sum of all numbers stored in a list
# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
# variable to store the sum
sum = 0
# iterate over the list
for val in numbers:
  sum = sum+val
print("The sum is", sum)

The sum is 48

In [21]:
 #Program Iterating string using for loop.
str = "KIRINYAGA is a great county"
for i in str:
  print(i)

K
I
R
I
N
Y
A
G
A

i
s

a

g
r
e
a
t

c
o
u
n
t
y

In [22]:
#read string from user
str = input('Enter your first name: ')
for i in str:
  print(i)

Enter your first name: Maxwell Muthui Mwangi
M
a
x
w
e
l
l

M
u
t
h
u
i

M
w
a
n
g
i

In [23]:
#Program to print 1 to 10 using for loop.
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [1]:
# Program to print table of given number.
n = int(input("Enter the number "))
for i in range(1,11):
 c = n*i
 print(n,"*",i,"=",c)

Enter the number 345
345 * 1 = 345
345 * 2 = 690
345 * 3 = 1035
345 * 4 = 1380
345 * 5 = 1725
345 * 6 = 2070
345 * 7 = 2415
345 * 8 = 2760
345 * 9 = 3105
345 * 10 = 3450

In [2]:
#Program to print even number using step size in range().
n = int(input("Enter the number "))
for i in range(2,n,2):
   print(i)

Enter the number 456
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454

In [3]:
#Program to print string using len() and range().
list = ['George','Wainaina','Peter','Joyce']
for i in range(len(list)):
 print("Good Morning",list[i])

Good Morning George
Good Morning Wainaina
Good Morning Peter
Good Morning Joyce

In [4]:
#Program to print * in a pattern using nested for loop.
# User input for number of rows
rows = int(input("Enter the rows:"))
# Outer loop will print number of rows
for i in range(0,rows+1):
# Inner loop will print number of Astrisk
  for j in range(i):
     print("*",end = '')
  print()

Enter the rows:34

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************

In [5]:
#Program to number pyramid
rows = int(input("Enter the rows"))
for i in range(0,rows+1):
  for j in range(i):
    print(i,end = ' ')
  print()

Enter the rows34

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12
13 13 13 13 13 13 13 13 13 13 13 13 13
14 14 14 14 14 14 14 14 14 14 14 14 14 14
15 15 15 15 15 15 15 15 15 15 15 15 15 15 15
16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17
18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18
19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19
20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21
22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22
23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23
24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24
25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27
28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28
29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29
30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30
31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31
32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32
33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33
34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34

In [7]:
 #Program to add natural numbers up to the number you will specify at run
#time.
# To take input from the user,
n = int(input("Enter n: "))
# initialize sum and counter
sum = 0
i = 1
while i <= n:
   sum = sum + i
   print(i)
   i = i+1 # update counter
# print the sum
print("The sum is", sum)

Enter n: 34
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
The sum is 595

In [8]:
#Program to print table of given numbers.
i=1
number=0
b=9
number = int(input("Enter the number:"))
while i<=5:
  print("%d X %d = %d \n"%(number,i,number*i))
  i = i+1

Enter the number:20
20 X 1 = 20

20 X 2 = 40

20 X 3 = 60

20 X 4 = 80

20 X 5 = 100

In [10]:
#Program to implement Continue statement.
# prints all letters except 'I' and 'A'
i = 0
str1 = 'KIRINYAGA'
while i < len(str1):
  if str1[i] == 'I' or str1[i] == 'A':
     i += 1
     continue
  print('Current Letter :', str1[i])
  i += 1

Current Letter : K
Current Letter : R
Current Letter : N
Current Letter : Y
Current Letter : G

In [11]:
 #Program to implement Break statement.
# prints all letters but terminates after encountering 'N'
i = 0
str1 = 'KIRINYAGA'
while i < len(str1):
  if str1[i] == 'N':
     i += 1
     break
  print('Current Letter :', str1[i])
  i += 1

Current Letter : K
Current Letter : I
Current Letter : R
Current Letter : I

In [12]:
# Program to implement Pass statement.
# An empty loop
str1 = 'SOFTWARE_ENGINEERING'
i = 0
while i < len(str1):
   i += 1
   pass
print('Value of i :', i)

Value of i : 20